@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, "Poppins", sans-serif;
}
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(images/coolbackground.jpeg);
    margin: 0px;
}
.header{
    display: flex;
    justify-content: flex-end;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: transparent;
    padding: 20px 100px;
    z-index: 100;
}
.header .logo{
    position: absolute;
    display: inline-block;
    margin-right: 75%;
}
.header .logo a{
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    color: white;
}
.navclass{
    position: absolute;
    display: inline-block;
    color: white;
}
.navbar{
    position: relative;
    list-style-type: none;
    margin-top: 3%;
}

.navbar li{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    animation-name: slideLeft;
    animation-duration: .75s;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: none;
    font-weight: 500;
}
.navbar li:hover{
    transform: translateY(-.3rem);
}
.navbar li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: .5s;
}
.navbar li a:hover::before{
    width: 100%;
}


/* End of Navbar */


.NSBE{
    display:block;
    border: .5px solid black;
    background-color: hsla(162, 54%, 69%, 0.714);
    box-shadow: 5px 5px 10px white;
    border-radius: 50px;
    width: 150vh;
    height:30vh;
    margin-left: 3%;
    margin-top: 10%;
    position: absolute;
}
.NSBE #content{
    display: flex;
    text-align: center;
}
.NSBE #content img{
    display: inline-block;
    width: 30%;
    height: 30%;
    padding: 5% 3%;
}
.NSBE #content div{
    display: inline-block;
    padding: 4% 3%;
    color: white;

}
.NSBE #content div h1{
    font-size: 20px;
    border: 1px solid black;
    background-color: black;
    box-shadow: 5px 5px 50px white;
    border-radius: 50px;
    width: 75vh;
    margin-left: 12.5%;
}
.NSBE #content div h2{
    font-size: 8px;
    color: black;
    margin-top: .5%;
}
.NSBE #content div h1 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* End of NSBE */


.EXE{
    display: block;
    border: 1px solid black;
    background-color: hsla(162, 54%, 69%, 0.714);
    box-shadow: 5px 5px 10px white;
    border-radius: 50px;
    width: 150vh;
    height:30vh;
    margin-left: 25%;
    margin-top: 6%;
    position: absolute;
}
.EXE #content2{
    display: flex;
    text-align: center;
}
.EXE #content2 img{
    display: inline-block;
    width: 15%;
    height: 15%;
    padding: 5% 3%;
}
.EXE #content2 div{
    display: inline-block;
    padding: 4% 3%;
    color: white;
}
.EXE #content2 div h1{
    font-size: 20px;
    border: .5px solid black;
    background-color: black;
    box-shadow: 5px 5px 50px white;
    border-radius: 50px;
    width: 75vh;
    margin-left: 17%;
}
.EXE #content2 div h1 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* End of .EXE */


footer{
    display: block;
    justify-content: space-between;
    position: absolute;
    margin-top: 50%;
    left: 0px;
    border: none;
    box-shadow: 2px -2px 10px;
    background-color: hsla(0, 0%, 67%, 0.308);
    height: 10%;
    width: 100%;
}
footer .footerContent{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    width: 100%;
    border: none;
}
footer #copyRight{
    display: inline-block;
    color: white;
    font-family: "Poppins";
    font-size: 12px;
    position: relative;
    left: 4%;
    opacity: 60%;
}
footer .linkedin{
    display: inline-block;
    color: white;
    position: absolute;
    right: 8%;
}
footer .linkedin:hover i{
    transform: translateY(-.3rem);
    box-shadow: 2px 2px 5px black;
}
footer .github{
    display: inline-block;
    color: white;
    position: absolute;
    right: 4%;
}
footer .github:hover i{
    transform: translateY(-.3rem);
    box-shadow: 2px 2px 5px black;
}

/* End of Footer */


@keyframes slideLeft{
    from{transform: translateX(300%)}
}

/*This is for mobile only*/
#homePage{
    display: none;
}
/*This is for mobile only*/

@media screen and (max-width: 600px){
    .header{
        display: flex;
        justify-content: flex-end;
        border: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8%;
        background-color: transparent;
        padding: 10px 20px;
        z-index: 100;
    }
    .header .logo{
        display: none;
    }
    #homePage{
        position: absolute;
        display: inline-block;
        top: 40%;
        right: 90%;
        color: white;
        cursor: pointer;
    }
    #homePageSpan a:hover #homePage{
        transform: translateY(-.3rem);
        box-shadow: 2px 2px 5px black;
        background-color: transparent;
    }

    /* End of Nabar */


    .NSBE{
        display: block;
        border: .5px solid black;
        background-color: hsla(162, 54%, 69%, 0.714);
        box-shadow: 5px 5px 10px white;
        border-radius: 50px;
        width: 90%;
        height: 30%;
        position: absolute;
        right: 5%;
        margin-top: 20%;
    }
    .NSBE #content{
        display: flex;
        text-align: center;
    }
    .NSBE #content img{
        display: inline-block;
        width: 30%;
        height: 30%;
        padding: 15% 3%;
    }
    .NSBE #content div{
        display: inline-block;
        color: white;
        padding: 1%;
    }
    .NSBE #content div h1{
        font-size: 20px;
        border: 1px solid black;
        background-color: black;
        box-shadow: 5px 5px 30px white;
        border-radius: 50px;
        width: 55%;
        position: absolute;
        top: 10%;
        right: 11%;
    }
    .NSBE #content div h2{
        display: none; /* Major Mobile Change */
    }
    .NSBE #content div h1 a{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .NSBE #content div p{
        position: absolute;
        top: 40%;
        right: 9%;
        width: 60%;
    }
    
    /* End of NSBE */


    .EXE{
        display: block;
        border: .5px solid black;
        background-color: hsla(162, 54%, 69%, 0.714);
        box-shadow: 5px 5px 10px white;
        border-radius: 50px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        margin-top: 10%;
    }
    .EXE #content2{
        display: flex;
        text-align: center;
    }
    .EXE #content2 img{
        display: inline-block;
        width: 30%;
        height: 30%;
        padding: 8% 3%;
        border-radius: 100px;
    }
    .EXE #content2 div{
        display: inline-block;
        color: white;
        padding: 1%;
    }
    .EXE #content2 div h1{
        font-size: 20px;
        border: 1px solid black;
        background-color: black;
        box-shadow: 5px 5px 30px white;
        border-radius: 50px;
        width: 60%;
        position: absolute;
        top: 10%;
        right: 7%;
    }
    .EXE #content2 div h1 a{
        text-decoration: none;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .EXE #content2 div p{
        position: absolute;
        top: 36%;
        right: 1%;
        width: 70%;
    }
    
    /* End of .EXE */

    
    footer{
        display: block;
        justify-content: space-between;
        position: absolute;
        bottom: 0px;
        left: 0px;
        border: none;
        box-shadow: 2px -2px 10px;
        background-color: hsla(0, 0%, 67%, 0.308);
        height: 10%;
        width: 100%;
    }
    footer .linkedin{
        display: inline-block;
        color: white;
        position: absolute;
        right: 12%;
    }
    
    /* End Of Footer */


}